html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 15px;
}

header {
  height: 100px;
  background-color: #D9D9D9;
}

h1 {
  text-align: center;
  margin: 0;
  font-family: "Open Sans", serif;
  font-size: 46px;
  font-weight: bold;
  padding-top: 12px;
}

#sizes-container {
  height: 75px;
  background-color: #6CD6EC;
  border-style: solid;
  border-color: #999;
  border-width: 1px 0;
}

#sizes {
  height: 58px;
  padding-top: 19px;
  width: 990px;
  margin: 0 auto;
}

#sizes .info {
  float: left;
}

#sizes .number {
  font-size: 30px;
  width: 90px;
  display: inline-block;
  text-align: right;
}

#sizes .asterisk {
  margin-left: 2px;
}

#sizes .shot-container {
  float: left;
  width: 197px;
  height: 28px;
  background-color: #eee;
  margin: 3px 37px 0 55px;
  position: relative;
}

#sizes div.shot {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #AD6CF3;
}

#sizes .shot.current {
  height: 14px;
}

#sizes .shot.saved {
  height: 14px;
  top: 14px;
}

#sizes img.shot {
  position: absolute;
  z-index: 1;
  top: -14px;
  left: -41px;
}

#base {
  margin: 15px auto 70px auto;
  width: 990px;
}

#main {
  margin-left: 5px;
}

#easydemo {
  z-index: 3;
}

.easydemo-signal {
  z-index: 3;
}

#demo-text {
  display: none;
}


h2 {
  font-size: 22px;
  font-weight: bold;
}

#easydemo code {
  display: inline-block;
  padding: 2px;
}

#easydemo .active code {
  background-color: #ddd;
}

.source {
  padding: 10px;
  padding-top: 0;
  margin-bottom: 20px;
}

.source .title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  width: 250px;
}

.source .code-container {
  border: solid 1px #aaa;
  margin-left: 20px;
  width: 625px;
}

.source code {
  white-space: pre;
  font-size: 14px;
  display: block;
  padding: 2px;
  overflow-x: auto;
  border-style: solid;
  border-color: #D9D9D9;
  border-width: 0 0 0 20px;
  background-color: white;
}

.added {
  color: green;
}
.removed,
.problem {
  color: red;
}

code .comment {
  color: green;
}
code .string {
  color: red;
}
code .regexp {
  color: orange;
}
code .number {
  color: black;
}
code .keyword {
  color: blue;
}
code .special {
  color: purple;
}




#config {
  float: right;
  width: 270px;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
  background-color: white;
  position: relative;
  z-index: 2;
  margin-right: 10px;
}

#config .group {
  margin: 5px;
  padding: 5px;
  padding-bottom: 10px;
  width: 250px;
}

#config .group .title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

#config .group .hint {
  font-weight: normal;
  font-size: 13px;
  margin-left: 5px;
  color: #555;
}

#config .group.controls {
  margin-top: 50px;
  margin-bottom: 50px;
}

#diff {
  padding: 6px 13px;
  margin-left: 2px;
  margin-top: 10px;
  font-size: 18px;
}

#diff em {
  font-size: 22px;
  margin-right: 4px;
}

#config .group .inputs, #config .group .controls {
  margin-left: 15px;
}

#defaults .controls input[type=button] {
  margin-right: 6px;
  padding: 4px 6px;
}

.fix {
  cursor: pointer;
  text-decoration: underline;
  color: green;
  margin-left: 10px;
  font-weight: normal;
}

#config label {
  margin-right: 6px;
  display: inline-block;
  font-style: italic;
}

#config input[type=radio], #config input[type=checkbox] {
  margin-right: 5px;
}

#config input[type=text] {
  width: 212px;
  font-size: 14px;
  margin-bottom: 12px;
  color: #666;
}

.button,
#config input[type=button],
#config input[type=button][disabled=disabled]:hover {
  font-size: 15px;
  text-align: center;
  display: inline-block;
  background-color: #F0F0F0;
  background-image: -ms-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: -webkit-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: -o-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: -moz-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: linear-gradient(top, #F0F0F0, #CFCFCF);
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #BABABA #888 #888 #BABABA;
  padding: 4px 8px;
  margin-right: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#config input[type=button][disabled=disabled]:hover {
  cursor: default;
}

.button:hover,
#config input[type=button]:hover {
  background: #CFCFCF;
}

.button.active,
#config input[type=button].active {
  background-color: #2C9CAF;
  background-image: -ms-linear-gradient(top, #2C9CAF, #237B8B);
  background-image: -webkit-linear-gradient(top, #2C9CAF, #237B8B);
  background-image: -o-linear-gradient(top, #2C9CAF, #237B8B);
  background-image: -moz-linear-gradient(top, #2C9CAF, #237B8B);
  background-image: linear-gradient(top, #2C9CAF, #237B8B);
  border-color: #888 #BABABA #BABABA #888;
  color: white;
}

.clear {
  clear: both;
}

footer {
  text-align: center;
  height: 80px;
  margin-top: 40px;
  padding-top: 60px;
  background-color: #D9D9D9;
  border-top: solid 1px #999;
}

footer a {
  margin-left: 4px;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
