html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 15px;
}

header {
  height: 40px;
  background-color: #ddd;
}

h1 {
  text-align: center;
  margin: 0;
  font-family: Tahoma, sans-serif;
  font-size: 24px;
  padding-top: 4px;
}

#main {
  width: 920px;
  margin: 0 auto;
}

#sources, #config {
  border: 1px solid #ddd;
  border-top-width: 0;
  float: left;
  min-height: 900px;
}

#sources {
  width: 640px;
}

.source, #config .group {
  margin: 5px;
  padding: 5px;
  padding-bottom: 10px;
  border-color: #ddd;
  border-style: dashed;
  border-width: 0 0 1px 0;
}

.source .title, #config .group .title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

code {
  white-space: pre;
  font-size: 14px;
}

code .comment {
  color: green;
}
code .string {
  color: red;
}
code .regexp {
  color: orange;
}
code .number {
  color: black;
}
code .keyword {
  color: blue;
}
code .special {
  color: purple;
}

#config {
  width: 270px;
  border-left-width: 0;
}

#config .group {
  width: 250px;
}

#config .group .inputs {
  margin-left: 15px;
}

#config label {
  margin-right: 6px;
}

#config input[type=radio] {
  margin-right: 4px;
}

#config input[type=text] {
  width: 230px;
  font-size: 14px;
}
