html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 15px;
}

header {
  height: 54px;
  background-color: #ddd;
}

h1 {
  text-align: center;
  margin: 0;
  font-family: Tahoma, sans-serif;
  font-size: 34px;
  padding-top: 4px;
}

#main {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 70px;
}

#sources {
  margin-top: 20px;
  min-height: 1200px;
}

.source {
  padding: 10px;
  margin-bottom: 10px;
}

.source .title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  width: 250px;
}

.source .title-and-size {
  width: 727px;
}

#sizes {
  float: right;
}

#sizes .number {
  font-size: 30px;
  width: 90px;
  display: inline-block;
  text-align: right;
}

#sizes .asterisk {
  margin-left: 2px;
}

.source .code-container {
  border: solid 1px #aaa;
  margin-left: 25px;
  width: 700px;
}

code {
  white-space: pre;
  font-size: 14px;
  display: block;
  padding: 2px;
  overflow-x: auto;
  border-style: solid;
  border-color: #eee;
  border-width: 0 0 0 20px;
}

.added {
  color: green;
}
.removed {
  color: red;
}
code .comment {
  color: green;
}
code .string {
  color: red;
}
code .regexp {
  color: orange;
}
code .number {
  color: black;
}
code .keyword {
  color: blue;
}
code .special {
  color: purple;
}




#config {
  float: right;
  width: 270px;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
  background-color: white;
  z-index: 1;
  position: relative;
  margin-right: 10px;
}

#config .group {
  margin: 5px;
  padding: 5px;
  padding-bottom: 10px;
  width: 250px;
}

#config .group .title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

#config .group.controls {
  margin-top: 50px;
  margin-bottom: 50px;
}

#config .group .inputs, #config .group .controls {
  margin-left: 15px;
}

#config label {
  margin-right: 6px;
  display: inline-block;
}

#config input[type=radio], #config input[type=checkbox] {
  margin-right: 5px;
}

#config input[type=text] {
  width: 230px;
  font-size: 14px;
}

#config input[type=button],
#config input[type=button][disabled=disabled]:hover {
  font-size: 14px;
  text-align: center;
  display: inline-block;
  background-color: #F0F0F0;
  background-image: -ms-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: -webkit-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: -o-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: -moz-linear-gradient(top, #F0F0F0, #CFCFCF);
  background-image: linear-gradient(top, #F0F0F0, #CFCFCF);
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #BABABA #888 #888 #BABABA;
  padding: 2px 7px;
  margin-left: 3px;
  margin-right: 7px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#config input[type=button][disabled=disabled]:hover {
  cursor: default;
}

#config input[type=button]:hover {
  background: #CFCFCF;
}

#config input[type=button].active {
  background-color: #2C9CAF;
  background-image: -ms-linear-gradient(top, #2C9CAF, #237B8B);
  background-image: -webkit-linear-gradient(top, #2C9CAF, #237B8B);
  background-image: -o-linear-gradient(top, #2C9CAF, #237B8B);
  background-image: -moz-linear-gradient(top, #2C9CAF, #237B8B);
  background-image: linear-gradient(top, #2C9CAF, #237B8B);
  border-color: #888 #BABABA #BABABA #888;
  color: white;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
